##  HW3

## Student Name: Hung Yi-Le

## GITHUB: ZackLa

In [1]:
import pandas as pd
import numpy as np
import statistics #for question a (iii)
from scipy.stats import norm # for question a (iii)
from scipy.stats import bootstrap # for question a (iii)

In [2]:
d2 = pd.DataFrame()
d3 = pd.DataFrame()
d6 = pd.DataFrame()
d7 = pd.DataFrame()
test_set = pd.DataFrame()
train_set = pd.DataFrame()
list_1 = []

# (b) Keep datasets 1 and 2 in folders bending1 and bending 2, as well as datasets 1, 2, and 3 in other folders as test data and other datasets as train data.

### I did my b with c(ii) in the for loop, I show my table there.

# (c) Feature Extraction Classification of time series usually needs extracting features from them. In this problem, we focus on time-domain features.

## i. Research what types of time-domain features are usually used in time series classification and list them (examples are minimum, maximum, mean, etc).

### min, max, mean, median, standard error, absolute error, skewness, kurtosis

## ii. Extract the time-domain features minimum, maximum, mean, median, stan- dard deviation, first quartile, and third quartile for all of the 6 time series in each instance. You are free to normalize/standardize features or use them directly. where, for example, 1st quart6, means the first quartile of the sixth time series in each of the 88 instances.

In [3]:
for i in range(7):
    if  i <= 1: ## this read the first 2 files, which are test set
        d1 = pd.read_csv('../data/bending1/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Bending"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2, d1], ignore_index = True)
        
    else: ## this read the others files which are train set
        d1 = pd.read_csv('../data/bending1/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
                sq = 0
                d4 = pd.DataFrame()
                d4 = d1.iloc[:,k+1].describe()
                d4 = d4.drop(index = 'count').values.tolist()
                d5 = pd.DataFrame(d4)
                d5 = d5.T
                d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                         sq+6: 'max' + '(' + str(k+1) + ')',
                                         sq: 'mean' + '(' + str(k+1) + ')',
                                         sq+4: 'median' + '(' + str(k+1) + ')',
                                         sq+1: 'std' + '(' +str(k+1) + ')',
                                         sq+3: '1st quart' + '(' + str(k+1) + ')',
                                         sq+5: '3rd quart' + '(' + str(k+1) + ')'})
                d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Bending"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [4]:
    
for i in range(6):
    if  i <= 1:
        d1 = pd.read_csv('../data/bending2/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Bending"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:
        d1 = pd.read_csv('../data/bending2/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Bending"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [5]:
for i in range(15):
    if  i <= 2:
        d1 = pd.read_csv('../data/cycling/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Cycling"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:
        d1 = pd.read_csv('../data/cycling/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Cycling"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [6]:
for i in range(15):
    if  i <= 2:
        d1 = pd.read_csv('../data/lying/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Lying"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:
        d1 = pd.read_csv('../data/lying/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Lying"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [7]:
for i in range(15):
    if  i <= 2:## this read the first 3 files, which are test set
        d1 = pd.read_csv('../data/walking/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Walking"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:## this read the others files which are train set
        d1 = pd.read_csv('../data/walking/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Walking"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [8]:
for i in range(15):
    if  i <= 2:
        d1 = pd.read_csv('../data/standing/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Standing"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:
        d1 = pd.read_csv('../data/standing/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Standing"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [9]:
for i in range(15):
    if  i <= 2:
        d1 = pd.read_csv('../data/sitting/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Sitting"
        d7 = pd.concat([d7, d6])
        test_set = pd.concat([test_set,d6])
        d2 = pd.concat([d2,d1], ignore_index = True)
    else:
        d1 = pd.read_csv('../data/sitting/dataset'+ str(i+1)+ '.csv',  skiprows = 4)
        d6 = pd.DataFrame()
        for k in range(6):
            sq = 0
            d4 = pd.DataFrame()
            d4 = d1.iloc[:,k+1].describe()
            d4 = d4.drop(index = 'count').values.tolist()
            d5 = pd.DataFrame(d4)
            d5 = d5.T
            d5 = d5.rename(columns = {sq+2 : 'min' + '(' + str(k+1) + ')',
                                     sq+6: 'max' + '(' + str(k+1) + ')',
                                     sq: 'mean' + '(' + str(k+1) + ')',
                                     sq+4: 'median' + '(' + str(k+1) + ')',
                                     sq+1: 'std' + '(' +str(k+1) + ')',
                                     sq+3: '1st quart' + '(' + str(k+1) + ')',
                                     sq+5: '3rd quart' + '(' + str(k+1) + ')'})
            d6 = pd.concat([d6, d5], axis = 1)
        d6['Class'] = "Sitting"
        d7 = pd.concat([d7, d6])
        train_set = pd.concat([train_set, d6])
        d3 = pd.concat([d3,d1], ignore_index = True)

In [10]:
#d456 = pd.DataFrame(d7)
#d456

In [11]:
d7.index = range(1,89,1)
test_set.index = range(1,20,1)
train_set.index = range(1,70,1)

In [12]:
column_names = ['min(1)','max(1)','mean(1)','median(1)','std(1)','1st quart(1)','3rd quart(1)',
           'min(2)','max(2)','mean(2)','median(2)','std(2)','1st quart(2)','3rd quart(2)',
           'min(3)','max(3)','mean(3)','median(3)','std(3)','1st quart(3)','3rd quart(3)',
           'min(4)','max(4)','mean(4)','median(4)','std(4)','1st quart(4)','3rd quart(4)',
           'min(5)','max(5)','mean(5)','median(5)','std(5)','1st quart(5)','3rd quart(5)',
           'min(6)','max(6)','mean(6)','median(6)','std(6)','1st quart(6)','3rd quart(6)','Class']

In [13]:
d7 = d7.reindex(columns = column_names)
test_set = test_set.reindex(columns = column_names)
train_set = train_set.reindex(columns = column_names)

In [14]:
test_set

,min(1),max(1),mean(1),median(1),std(1),1st quart(1),3rd quart(1),min(2),max(2),mean(2),...,1st quart(5),3rd quart(5),min(6),max(6),mean(6),median(6),std(6),1st quart(6),3rd quart(6),Class
1,37.25,45.00,40.624792,40.500,1.476967,39.2500,42.0000,0.0,1.30,0.358604,...,33.0000,36.0000,0.0,1.92,0.570583,0.430,0.582915,0.0000,1.300,Bending
2,38.00,45.67,42.812812,42.500,1.435550,42.0000,43.6700,0.0,1.22,0.372438,...,32.0000,34.5000,0.0,3.11,0.571083,0.430,0.601010,0.0000,1.300,Bending
3,12.75,51.00,24.562958,24.250,3.737514,23.1875,26.5000,0.0,6.87,0.590833,...,20.5000,27.0000,0.0,4.97,0.700188,0.500,0.693720,0.4300,0.870,Bending
4,0.00,42.75,27.464604,28.000,3.583582,25.5000,30.0000,0.0,7.76,0.449708,...,15.0000,20.7500,0.0,6.76,1.122125,0.830,1.012342,0.4700,1.300,Bending
5,24.25,45.00,37.177042,36.250,3.581301,34.5000,40.2500,0.0,8.58,2.374208,...,17.9500,21.7500,0.0,9.34,2.921729,2.500,1.852600,1.5000,3.900,Cycling
6,28.75,44.75,37.561188,36.875,3.226507,35.2500,40.2500,0.0,9.91,2.080688,...,18.0000,21.5000,0.0,9.62,2.765896,2.450,1.769203,1.4100,3.770,Cycling
7,22.00,44.67,37.058708,36.000,3.710180,34.5000,40.0625,0.0,14.17,2.438146,...,16.0000,21.0000,0.0,8.55,2.983750,2.570,1.815730,1.5000,4.150,Cycling
8,23.50,30.00,27.716375,27.500,1.442253,27.0000,29.0000,0.0,1.79,0.363688,...,5.5000,10.7500,0.0,4.50,0.734271,0.710,0.613688,0.4300,1.000,Lying
9,24.75,48.33,44.182937,48.000,7.495615,48.0000,48.0000,0.0,3.11,0.101875,...,2.0000,5.5425,0.0,3.91,0.692771,0.500,0.675781,0.3225,0.940,Lying
10,48.00,48.25,48.004167,48.000,0.032038,48.0000,48.0000,0.0,0.43,0.007167,...,4.6700,10.0000,0.0,2.50,0.641229,0.500,0.388372,0.4600,0.830,Lying
11,19.33,43.50,34.227771,35.500,4.889576,30.5000,37.7500,0.0,14.50,3.995729,...,14.7500,18.6700,0.0,9.74,3.394125,3.100,1.792090,2.1050,4.425,Walking
12,12.50,45.00,33.509729,34.125,4.850923,30.5000,36.7500,0.0,13.05,4.450771,...,14.6275,18.7500,0.0,8.96,3.378479,3.085,1.787360,2.0600,4.440,Walking
13,15.00,46.75,34.660583,35.000,5.315110,31.0000,38.2500,0.0,13.44,4.200896,...,14.2500,18.5000,0.0,8.99,3.244396,3.000,1.630983,2.1200,4.240,Walking
14,33.33,48.00,44.334729,45.000,2.476940,42.2500,46.5000,0.0,3.90,0.432958,...,9.3300,17.7500,0.0,5.02,0.933000,0.830,0.673609,0.4700,1.250,Standing
15,35.50,46.25,43.174938,43.670,1.989052,42.5000,44.5000,0.0,2.12,0.506583,...,12.7500,16.5000,0.0,5.72,0.911979,0.830,0.666161,0.4700,1.220,Standing
16,32.75,47.00,42.760563,44.500,3.398919,41.3300,45.3725,0.0,3.34,0.486167,...,13.0000,18.5650,0.0,5.73,0.842271,0.710,0.722165,0.4300,1.090,Standing
17,33.25,48.00,42.363563,43.000,2.068247,42.0000,43.5000,0.0,4.44,0.492563,...,10.1875,17.6900,0.0,6.02,1.034021,0.830,0.985627,0.4700,1.250,Sitting
18,37.00,50.75,45.917667,45.635,1.089027,45.0000,46.5000,0.0,4.87,0.324542,...,16.5000,21.0000,0.0,7.22,0.904604,0.710,0.896171,0.4300,1.120,Sitting
19,44.50,46.75,45.239667,45.000,0.429915,45.0000,45.3300,0.0,1.00,0.172958,...,17.6275,21.0000,0.0,8.20,0.837250,0.710,0.835344,0.4300,1.120,Sitting

### The table above is my test data

In [15]:
train_set

,min(1),max(1),mean(1),median(1),std(1),1st quart(1),3rd quart(1),min(2),max(2),mean(2),...,1st quart(5),3rd quart(5),min(6),max(6),mean(6),median(6),std(6),1st quart(6),3rd quart(6),Class
1,35.00,47.40,43.954500,44.33,1.558835,43.00,45.00,0.0,1.70,0.426250,...,35.3625,36.50,0.0,1.79,0.493292,0.43,0.513506,0.00,0.94,Bending
2,33.00,47.75,42.179813,43.50,3.670666,39.15,45.00,0.0,3.00,0.696042,...,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.00,1.00,Bending
3,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,2.83,0.535979,...,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.00,0.50,Bending
4,37.00,48.00,43.454958,43.25,1.386098,42.50,45.00,0.0,1.58,0.378083,...,22.2500,24.00,0.0,5.26,0.679646,0.50,0.622534,0.43,0.87,Bending
5,36.25,48.00,43.969125,44.50,1.618364,43.31,44.67,0.0,1.50,0.413125,...,20.5000,23.75,0.0,2.96,0.555313,0.49,0.487826,0.00,0.83,Bending
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
65,28.50,48.25,43.884833,45.25,3.198894,42.00,46.50,0.0,3.28,0.517354,...,10.5000,19.25,0.0,7.00,1.354917,1.09,1.150883,0.50,1.70,Sitting
66,39.50,45.00,42.111583,42.00,1.122245,41.50,42.00,0.0,1.09,0.341938,...,9.0000,17.25,0.0,6.36,0.961167,0.82,0.882784,0.47,1.22,Sitting
67,39.67,44.75,42.282667,41.50,1.356149,41.50,44.33,0.0,1.00,0.498354,...,8.5000,18.25,0.0,7.85,0.869000,0.82,0.794213,0.47,1.00,Sitting
68,40.00,44.67,42.360187,42.00,1.017372,41.50,43.25,0.0,1.00,0.482500,...,9.7500,22.00,0.0,4.64,0.719813,0.50,0.608546,0.43,0.83,Sitting
69,29.25,46.00,42.728854,43.25,2.046362,41.33,44.50,0.0,4.72,0.555333,...,13.7300,19.00,0.0,5.10,0.892083,0.71,0.851175,0.43,1.22,Sitting

### The table above is my train data

In [16]:
d8 = d7.copy()

In [17]:
d7 = d7.drop(['Class'], axis = 1)

In [18]:
d7

,min(1),max(1),mean(1),median(1),std(1),1st quart(1),3rd quart(1),min(2),max(2),mean(2),...,std(5),1st quart(5),3rd quart(5),min(6),max(6),mean(6),median(6),std(6),1st quart(6),3rd quart(6)
1,37.25,45.00,40.624792,40.50,1.476967,39.25,42.00,0.0,1.30,0.358604,...,2.188449,33.0000,36.00,0.0,1.92,0.570583,0.43,0.582915,0.00,1.30
2,38.00,45.67,42.812812,42.50,1.435550,42.00,43.67,0.0,1.22,0.372438,...,1.995255,32.0000,34.50,0.0,3.11,0.571083,0.43,0.601010,0.00,1.30
3,35.00,47.40,43.954500,44.33,1.558835,43.00,45.00,0.0,1.70,0.426250,...,1.999604,35.3625,36.50,0.0,1.79,0.493292,0.43,0.513506,0.00,0.94
4,33.00,47.75,42.179813,43.50,3.670666,39.15,45.00,0.0,3.00,0.696042,...,3.849448,30.4575,36.33,0.0,2.18,0.613521,0.50,0.524317,0.00,1.00
5,33.00,45.75,41.678063,41.75,2.243490,41.33,42.75,0.0,2.83,0.535979,...,2.411026,28.4575,31.25,0.0,1.79,0.383292,0.43,0.389164,0.00,0.50
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,28.50,48.25,43.884833,45.25,3.198894,42.00,46.50,0.0,3.28,0.517354,...,5.258598,10.5000,19.25,0.0,7.00,1.354917,1.09,1.150883,0.50,1.70
85,39.50,45.00,42.111583,42.00,1.122245,41.50,42.00,0.0,1.09,0.341938,...,4.847545,9.0000,17.25,0.0,6.36,0.961167,0.82,0.882784,0.47,1.22
86,39.67,44.75,42.282667,41.50,1.356149,41.50,44.33,0.0,1.00,0.498354,...,6.039797,8.5000,18.25,0.0,7.85,0.869000,0.82,0.794213,0.47,1.00
87,40.00,44.67,42.360187,42.00,1.017372,41.50,43.25,0.0,1.00,0.482500,...,6.466786,9.7500,22.00,0.0,4.64,0.719813,0.50,0.608546,0.43,0.83
88,29.25,46.00,42.728854,43.25,2.046362,41.33,44.50,0.0,4.72,0.555333,...,4.293969,13.7300,19.00,0.0,5.10,0.892083,0.71,0.851175,0.43,1.22

### The table shown above has time-domain features contains minimum, maximum, mean, median, stan- dard deviation, first quartile, and third quartile for all of the 6 time series in each instance.

## iii. Estimate the standard deviation of each of the time-domain features you extracted from the data. Then, use Python’s bootstrapped or any other method to build a 90% bootsrap confidence interval for the standard deviation of each feature.

In [19]:
d13 = pd.DataFrame()
d12 = []
z = 0
p = 0

In [20]:
for i, k in enumerate(d7.columns):
    if z <= 6:
        d11 = round(statistics.stdev(d7.iloc[:,i]),3)
        d12.append(d11)
        z += 1
        if i == 41:
            p += 1
            d12 = pd.DataFrame(d12)
            d12 = d12.T
            d13 = pd.concat([d13, d12], axis = 1)
            d13 = d13.rename(columns = {z - 7: 'min' + '(' + str(p) + ')',
                                        z - 6: 'max' + '(' + str(p) + ')',
                                         z - 5: 'mean' + '(' + str(p) + ')',
                                         z - 4: 'median' + '(' + str(p) + ')',
                                         z - 3 : 'std' + '(' +str(p) + ')',
                                         z - 2: '1st quart' + '(' + str(p) + ')',
                                         z - 1: '3rd quart' + '(' + str(p) + ')'})
    else:
        p += 1
        d12 = pd.DataFrame(d12)
        d12 = d12.T
        d13 = pd.concat([d13, d12], axis = 1)
        d13 = d13.rename(columns = {z - 7: 'min' + '(' + str(p) + ')',
                                    z - 6: 'max' + '(' + str(p) + ')',
                                     z - 5: 'mean' + '(' + str(p) + ')',
                                     z - 4: 'median' + '(' + str(p) + ')',
                                     z - 3: 'std' + '(' +str(p) + ')',
                                     z - 2: '1st quart' + '(' + str(p) + ')',
                                     z - 1: '3rd quart' + '(' + str(p) + ')'})
        z = 0
        d12 = []
        d11 = round(statistics.stdev(d7.iloc[:,i]),3)
        d12.append(d11)
        z += 1

In [21]:
#Rename index name
d13.index = ['Std_Estimate']

In [22]:
column_names1 = ['min(1)','max(1)','mean(1)','median(1)','std(1)','1st quart(1)','3rd quart(1)',
           'min(2)','max(2)','mean(2)','median(2)','std(2)','1st quart(2)','3rd quart(2)',
           'min(3)','max(3)','mean(3)','median(3)','std(3)','1st quart(3)','3rd quart(3)',
           'min(4)','max(4)','mean(4)','median(4)','std(4)','1st quart(4)','3rd quart(4)',
           'min(5)','max(5)','mean(5)','median(5)','std(5)','1st quart(5)','3rd quart(5)',
           'min(6)','max(6)','mean(6)','median(6)','std(6)','1st quart(6)','3rd quart(6)']

In [23]:
d13 = d13.reindex(columns = column_names1)

In [24]:
d13

,min(1),max(1),mean(1),median(1),std(1),1st quart(1),3rd quart(1),min(2),max(2),mean(2),...,std(5),1st quart(5),3rd quart(5),min(6),max(6),mean(6),median(6),std(6),1st quart(6),3rd quart(6)
Std_Estimate,9.57,4.394,5.336,5.44,1.772,6.154,5.139,0.0,5.063,1.574,...,1.025,6.096,5.532,0.046,2.519,1.155,1.086,0.518,0.759,1.524

In [25]:
d22 = pd.DataFrame()
for i, k in enumerate(d7.columns):
    data = (np.array(d7.iloc[:,i]),)
    res = bootstrap(data, np.std, confidence_level = 0.9, random_state = 42, method = 'percentile')
    d21 = pd.DataFrame(res.confidence_interval)
    d21.columns = [d7.columns[i]]
    d22 = pd.concat([d22, d21], axis = 1)

In [26]:
d22.index = ['low', 'high']

In [27]:
d22 = pd.concat([d13.T, d22.T], axis = 1)

In [28]:
d22

              Std_Estimate       low       high
min(1)               9.570  8.223016  10.716120
max(1)               4.394  3.323887   5.271171
mean(1)              5.336  4.676878   5.851478
median(1)            5.440  4.752061   5.973962
std(1)               1.772  1.559884   1.941259
1st quart(1)         6.154  5.530064   6.609759
3rd quart(1)         5.139  4.312902   5.818151
min(2)               0.000  0.000000   0.000000
max(2)               5.063  4.600872   5.369259
mean(2)              1.574  1.385959   1.696907
median(2)            1.412  1.227009   1.535361
std(2)               0.884  0.797621   0.936605
1st quart(2)         0.946  0.823275   1.029690
3rd quart(2)         2.125  1.879286   2.281691
min(3)               2.956  2.742636   3.092124
max(3)               4.875  4.131206   5.436608
mean(3)              4.008  3.395069   4.468778
median(3)            4.036  3.405956   4.513648
std(3)               0.947  0.757223   1.118591
1st quart(3)         4.221  3.598850   4.677282
3rd quart(3)         4.172  3.520290   4.662666
min(4)               0.000  0.000000   0.000000
max(4)               2.184  1.963291   2.346838
mean(4)              1.166  1.067770   1.215610
median(4)            1.146  1.048452   1.195388
std(4)               0.458  0.418474   0.483217
1st quart(4)         0.844  0.769832   0.886879
3rd quart(4)         1.553  1.421018   1.618207
min(5)               6.124  4.431237   7.504640
max(5)               5.741  4.725999   6.531346
mean(5)              5.676  4.422617   6.709731
median(5)            5.814  4.516112   6.891048
std(5)               1.025  0.809510   1.212994
1st quart(5)         6.096  4.782374   7.191488
3rd quart(5)         5.532  4.358672   6.502045
min(6)               0.046  0.000000   0.078029
max(6)               2.519  2.245275   2.744647
mean(6)              1.155  1.054979   1.208229
median(6)            1.086  0.987608   1.141704
std(6)               0.518  0.476857   0.542214
1st quart(6)         0.759  0.685669   0.803366
3rd quart(6)         1.524  1.390882   1.590501

### The table shown above shows estimate of the standard deviation and the boostrap 90% of confident interval (lower, and upper)

## iv. Use your judgement to select the three most important time-domain features (one option may be min, mean, and max).

### intead of 1 and 3 quart, I will pick min and max, becasue not only it give me the min and max, it also gives me their range, which I think it is good. The last important time-domain feature I think will be mean, because its the cetner of each feature, where in some cases it is important!

# 2. ISLR 3.7.4
# I collect a set of data (n = 100 observations) containing a single predictor and a quantitative response. I then fit a linear regression model to the data, as well as a separate cubic regression, i.e. Y = β0 + β1X + β2X^2 + β3X^3 + ϵ.

## (a) Suppose that the true relationship between X and Y is linear, i.e. Y = β0 + β1X + ϵ. Consider the training residual sum of squares (RSS) for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

### In this case, generally cubic regression would be better than the simple linear regression model, since its  more flexibility/ adding more features to the model, that mean we are reducing the RSS.

## (b) Answer (a) using test rather than training RSS.

### With a simple lienar regression, it's less flexiable and low variance compares to cubic regression. therefore it's goign to have a lowr RSS.

## (c) Suppose that the true relationship between X and Y is not linear, but we don’t know how far it is from linear. Consider the training RSS for the linear regression, and also the training RSS for the cubic regression. Would we expect one to be lower than the other, would we expect them to be the same, or is there not enough information to tell? Justify your answer.

### Same to the question a. Cubic regression would have have lower RSS due to the same reason

## (d) Answer (c) using test rather than training RSS.

### Since the truen relationship between X and Y is not linear, which mean we can't tell how far it is to the linear. we know cubic regression has higher variance than linear regression, but that doesn't tell us anything. I think we need more information about data in order for us to come up with a precise conclusion.